.todo-title {
    color: blue;
    text-decoration: underline;
}

.wrap {
    display: flex;
}
/* 실제 html순서와 비슷하게 위치시킨다. */

.todo-wrapper {
    padding: 20px;
    /* 왜 2em으로 주었을까? */
    border: 1px solid;
    border-radius: 4px;
    /* 왜 em값을 주지 않았을까? */
    margin: 20px;
    /* 왜 1em으로 주었을까? */
}

button {
    width: calc(80% - 20px);
    /* 단위맞춰줄 필요 없음 */
    /* 부모요소 너비에 맞추어 길이 지정 */
    /* invalid property value: calc() 내부 계산식에서 연산자 앞 뒤를 붙여쓰면 발생하는 오류 https://zetawiki.com/wiki/CSS_calc_invalid_property_value */
}
/* sudoclass보다는 일반 선택자를 더 위에 쓴다. */

.submit-button:hover {
    background-color: orange;
}

